
{
  "app_name": "{{ app_name }}",
  "environment": "{{ environment }}",
  "database": {
    "host": "{{ db_host }}",
    "port": "{{ db_port }}",
    "user": "{{ db_user }}",
    "password": "{{ db_password }}"
  }
}
